<%- include('./partials/header.ejs') %>
<div class="container">


<div class="card indigo darken-5 center">
  <div class="card-image">
    <img src="<%=movies.img%>" alt="">
    <a href="#" class="btn-floating pink lighten-4 pulse halfway-fab">
      <i class="material-icons">favorite</i>
    </a>
  </div>
  <span class="card-title white-text">
    <%=movies.name%>
  </span>
  <div class="card-content white-text ">
    <p><%=movies.description%></p>
  </div>

  <div class="card-content white-text ">
    <p>Likes: <%=movies.likes%></p>
  </div>

  <div class="card-content white-text">
    <p>Dislikes: <%=movies.dislikes%></p>
  </div>

  <div class="card-content white-text ">
    <p>Number of Reviews: <%=movies.numberOfReviews%></p>
  </div>


  <div class="card-action ">
    <a href="/movies/<%=movies._id%>" class="white-text">More Details</a>
    <a href="/movies/<%=movies._id%>/edit" class="white-text">Edit</a>
    <form action="/movies/<%=movies._id%>?_method=DELETE" method="POST">
      <br>
    <input class="btn red lighten-1" type="submit" value="Delete" >
    <br>
  </form>
  </div>
</div>

</div>


<%- include('./partials/footer.ejs') %>
